<config>
	<modules>
		<Snowdog_SnowComparers>
			<version>0.2.2</version>
		</Snowdog_SnowComparers>
	</modules>
	<global>	
		<models>
			<snowcomparers>
				<class>Snowdog_SnowComparers_Model</class>
				<resourceModel>snowcomparers_mysql4</resourceModel>
			</snowcomparers>   
			<snowcomparers_mysql4>
				<class>Snowdog_SnowComparers_Model_Mysql4</class>
				<entities>
					<scheme>
						<table>snowcomparers_schemas</table>
					</scheme>
				</entities>     
			</snowcomparers_mysql4>
		</models>
		<blocks>
			<snowcomparers>
					<class>Snowdog_SnowComparers_Block</class>
			</snowcomparers>
		</blocks>
		<helpers>
			<snowcomparers>
					<class>Snowdog_SnowComparers_Helper</class>
			</snowcomparers>
		</helpers>
		<resources>
			<snowcomparers_write>
				<connection>
					<use>core_write</use>
				</connection>
			</snowcomparers_write>
			<snowcomparers_read>
				<connection>
					<use>core_read</use>
				</connection>
			</snowcomparers_read>      
			
			<snowcomparers_setup>
		     <setup>
		         <module>Snowdog_SnowComparers</module>
		         <class>Snowdog_SnowComparers_Model_Resource_Mysql4_Setup</class>
		     </setup>
		     <connection>
		         <use>core_setup</use>
		     </connection>
        </snowcomparers_setup>
		</resources>   
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Snowdog_SnowComparers>Snowdog_SnowComparers_Adminhtml</Snowdog_SnowComparers>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
	<translate>
			<modules>
				<Snowdog_ShippingPayment>
					<files>
						<default>Snowdog_SnowComparers.csv</default>
					</files>
				</Snowdog_ShippingPayment>
			</modules>
		</translate>
        <menu>
            <catalog>
                <children>
                    <snowcomparers module="snowcomparers">
                        <title>Comparers Feeds</title>
                        <sort_order>190</sort_order>
                        <action>adminhtml/comparers</action>
                    </snowcomparers>
                </children>
            </catalog>
        </menu>
		<layout>
			<updates>
				<snowcomparers>
					<file>snowcomparers.xml</file>
				</snowcomparers>
			</updates>
		</layout>
    <acl>
      <resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<snowcomparers>
											<title>Snowdog_SnowComparers</title>
										</snowcomparers>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
    </acl>
	</adminhtml>

  <crontab>
    <jobs> 
      <snowcomparers_update>        
        <run><model>snowcomparers/scheme::updateOne</model></run>
      </snowcomparers_update>
    </jobs>
  </crontab>
  
</config>
